extends layout

block articles

  if user
    a(href='/articles/new') New
    
  each article in articles
    .article
      include article
      a(href=articleURL + '#comments') Comments (#{article.commentCount})
  
  if (pages > 1)
    .pagination
      - var clas;
      - for (var i = 1; i < pages + 1; i++)
        - clas = page == i ? 'selected' : ''
        a(href="/articles/?page=" + i, class=clas) #{i}
