extends layout

block articles

  if user
    a(href='/articles/new') New
    
  each article in articles
    .article
      include article
      if (article.comments.length)
        a(href=articleURL + '#comments') Comments (#{article.comments.length})
