html, body {
  color: #333;
  margin: 0;
  padding: 0;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 100%;
  max-width: 100%;
}

a { text-decoration: none; color: #719602; }
a:visited { color: #719602; }
a:hover { color: #336600; text-decoration: none; }

textarea{
  width: 300px;
}

img.medium {
  height: 200px;
  width: 225px;
}

img.big {
  height: 400px;
  width: 450px;
}

#container {
  width: 1000px;
  margin: 0 auto;
  margin-top: 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 0.9em
}

#logo-pane {
  background: url(../images/tree.jpg) no-repeat scroll left bottom transparent;
  height: 438px;
}

#logo {
  background: no-repeat scroll left top #fff;
  margin: 350px 0px 5px 65px;
  padding: 20px 0 0 15px;
  display: block;
  height: 40px;
  left: 110px;
  top: 80px;
  width: 350px;
  font-size: .9em;
  border-radius: 4px 4px 4px 4px;
}

span.name {
  color: #719602;
}

.page-pad {
  padding: 1em;
}

.left { float: left; }
.right { float: right; }

.small {
  font-size: .8em;
}

.col30 {
  width: 28%;
}

.col50 {
  width: 50%;
}

.col70 {
  width: 60%;
}

.col100 {
  width: 100%;
}

.hidden {
  display: none;
}

.sections {
  padding: 30px 0;
}

.section {
  border-top: 1px solid #D9D9D6;
  float: left;
  width: 94%;
  position: relative;
  padding: 10px 0 10px;
}

ul.section-list {
  list-style: none;
  margin: 0;
  display: inline;
}

#articles, #products {
  border-right: 1px solid #D9D9D6;
  padding: 2em 3em 0 3em;
}

#comments{
  padding-bottom: 1em;
}

#side-bar {
}

.article {
  border-bottom: 1px solid #D9D9D6;
}

.article-content {
  padding: 2em 0;
}

.comment {
  padding: 0 0 3em;
  font-size: .9em;
  border-bottom: 1px dotted #D9D9D6;
}

.product-detail div.image {
  width: 226px;
}

.product-detail div.detail {
  margin-left: 246px;
}

.product-img{
  text-align: center;
}

#site-tabs {
  width: 100%;
  position: absolute;
  top: -14px;
  left: -20px;
}

#site-tabs ul {
  margin: 0 auto;
  max-width: 1000px;
}

#site-tabs ul li {
  display: inline;
  float: left;
  margin: 0;
  padding: 10px 0;
}

#site-tabs ul li a {
  background: none repeat scroll 0 0 rgba(0,0,0,0.4);
  color: rgba(255, 255, 255, 0.75);
  float: left;
  font-weight: bold;
  font-size: .8em;
  margin: 0 5px 0 0;
  padding: 10px 30px 6px;
  text-decoration: none;
}

#site-tabs a:hover {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
}

#site-tabs .current a {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
}

#user-details {
  margin-top: 10px;
}

#footer {
  clear: both;
  font-size: .7em;
  text-align: center;
}

