
body { 
  background: url(../images/bkg.jpg) repeat scroll 0 0 #fff;
  color: #333; 
  margin: 0 auto;
}

body, p, ol, td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 100%;
	max-width: 100%;
	vertical-align: baseline;   
	outline: 0 none;
  padding: 0;
}

ul {
}

pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}

a {
  text-decoration: none;
  color: #719602;
}
a:visited { color: #719602; }
a:hover { color: #336600; text-decoration: none; }

#container{
  background: url(../images/bkgfade.jpg) no-repeat scroll center top transparent;
  height: 100%;
  padding: 35px 0 0;
  line-height: 18px;
}

#site-tabs {
  width: 100%;
  position: absolute;
  top: -14px;
  left: -20px;
}

#site-tabs ul {
  margin: 0 auto;
  max-width: 1000px;
}

#site-tabs ul li {
  display: inline;
  float: left;
  margin: 0;
  padding: 10px 0;
}

#site-tabs a { 
  background: none repeat scroll 0 0 rgba(0,0,0,0.2);
  color: rgba(255, 255, 255, 0.75);
  float: left;
  font-size: .6em;
  font-weight: bold;
  margin: 0 5px 0 0;
  padding: 10px 30px 6px;
  text-decoration: none;
}

#site-tabs .current a {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
}

#login {
  max-width: 1000px;
  padding: 20px;
  min-height: 450px;
}

#page {    
  background-color: #F5F5F1;
  margin-left: auto ;
  margin-right: auto ;
  max-width: 1000px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#page h1{
  padding: 30px 0;
}

#page-left {
  background: url(../images/tree.jpg) no-repeat scroll left bottom transparent;
}

#page-right {
  padding: 0 15px 0 15px;
}

.page-left {
  float: left;
}

.page-right {
  margin-left: 50%;
}

.page-left, .page-right {
  width: 50%;
  min-height: 438px;
  min-width: 400px;
}

#mainfooter {
	border-top: 1px solid gray;
	color: gray;
	text-align: center;
	font-size: 10px;
	background: white;
	float: left;
	width: 100%;
}

#logo {
  background: no-repeat scroll left top #fff;
  margin: 350px 0px 5px 65px;
  padding: 20px 0 0 15px;
  display: block;
  height: 40px;
  left: 110px;
  top: 80px;
  width: 350px;
  font-size: .8em;
  border-radius: 4px 4px 4px 4px;
}

#logo span.name {
  color: #719602;
}

#product-img{
  text-align: center;
}

#sections {
  padding: 30px 0;
  font-size: 0.8em;
}

.section {
  border-top: 1px solid #D9D9D6;
  float: left;
  width: 94%;
  position: relative;
  padding: 10px 0 10px;
}

.col30 {
  width: 30%;
  float: left;
}

.col70 {
  width: 70%;
  float: left;
}

ul.section-list {
  list-style: none;
  margin: 0;
  display: inline;
}

ul.section-list li {
  
}

.form {
  max-width: 1000px;
  padding: 20px;
  min-height: 450px;
}

#resume {
  padding: 10px;
}

#articles {
  width: 70%;
  float: left;
  padding: 0 15px;
}

#side-bar {
  width: 30%;
  margin-left: 70%;
  padding: 0 15px;
}

#footer {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: .6em;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
}
