extends ../layout

block content
  
  #site-tabs
    ul
      li.current
        a(href="#") brendankendrick.com
      li 
        a(href="resume") resume
      li
        a(href="articles") blog
  #page
    - var oddEven = 2
    each product in products
      if (oddEven % 2 === 0)
        .page-left
          #product-img
            a(href="products/" + product.id) #{product.name}
              img(src=product.image)
      else
        .page-right
          #product-img
            a(href="products/" + product.id) #{product.name}
              img(src=product.image)
      - oddEven += 1
        
          
      
      
            
          
        

