extends layout

block products
  p
    | Proceeds from the sale of these shirts goes to 
    a(href="") CodeNow
  if user
    p
      a(href="products/new") New
      
  each product in products
    .col100.left
      .product-detail
        .image.left
          a(href="products/" + product.id)
            img.medium(src=product.image)
        .detail
          | $#{product.price} #{product.name}
          br
          if (user)
            a(href=''+product.id+'/edit') Edit
          .sections
            .section
              | #{product.description}
            .section
              a.btn.btn-primary(href='http://www.etsy.com', target='_blank') Buy this on Etsy
    .col70
      &nbsp;
      
    
        
          
      
      
            
          
        

