extends ../layout

block content
  #site-tabs
    ul
      li
        a(href="/") brendankendrick.com
      li
        a(href="/resume") resume
      li
        a(href="/articles") blog
      if user
        li.current
          a(href="/products") products
  
  #page
    #products.col70.left
      .page-pad
        block products
      
    #side-bar.col30.right 
      .page-pad
        | side bar stuff
