extends ../layout

block content
  #site-tabs
    ul
      li
        a(href="/") brendankendrick.com
      li
        a(href="resume") resume
      li
        a(href="articles") blog
      li
        a(href="articles") articles
      li.current
        a(href="products") products
  block products
