extends layout

block products

  .col50.left.product-img
    img.medium(src=product.image)
  .col50.right
    | $#{product.price} #{product.name}
    br
    if (user)
      a(href=''+product.id+'/edit') Edit
    .sections
      .section
        | #{product.description}
      .section
        a.btn.btn-primary(href='http://www.etsy.com', target='_blank') Buy this on Etsy
