doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      #banner 
        a(href='/')
          #banner-image
      #side
        .sidetop
          | me
        .sidebody
          | brendankendrick.com is a personal 
          br
          | website of myself, Brendan Kendrick. 
          br
          | I am a software developer in 
          br
          | San Francisco.
          ul
            li
              a(href='resume') Resume
            li
              a(href='mailto:brendan@brendankendrick.com') brendan@brendankendrick.com
        .sideheader
          | elsewhere
        .sidebody
          ul
            li
              a(href='http://www.linkedin.com/in/brendankendrick/') LinkedIn
            li
              a(href='https://github.com/oneowhat') GitHub
            li
              a(href='http://nomadpool.com/users/219') Nomad Pool
        .sideheader
          | projects
        .sidebody
          ul
            li
              a(href='http://www.studio253finishes.com', target='_blank') Studio 253 Finishes
      #main 
        block content
