doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/default.css')
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(src='/javascripts/navigation.js')
  body      
    #container           
      block content
  
      #footer
        | Copyright 
        &copy;
        &nbsp;
        #{ new Date().getFullYear() }
        &nbsp;
        | Brendan Kendrick-Walton 
        span.right
          | Powered by heroku/node/express
