extends layout

block content
  #page
    #resume
      .page-pad
        p
          a(href='brendan_kendrick_resume.pdf', target='_blank') Download the PDF
        p
          | Brendan Kendrick-Walton
          br
          | 156 Duboce Ave #6
          br
          | San Francisco, SF 94103
          br
          a(href='mailto:brendan@brendankendrick.com') brendan@brendankendrick.com
        h3 Technologies
        ul
          li
            | ASP.NET, MVC, Ruby, Rails, Javascript, jQuery, HTML, CSS, express
          li
            | MS SQL, MySQL, MongoDB
          li
            | NUnit, RSpec
        h3 Professional Experience
        p
          b January 2008 - Present:
          &nbsp;
          | Software Developer - RTW, Inc
        p
          | Led architecture and full life-cycle development of several web-based solutions
          | including customer-facing policy underwriting systems and internal maintenance
          | applications. Designed and implemented several framework libraries for use
          | throughout all web-based software developed internally. Provide ongoing
          | maintenance and fixes on other core applications concurrent with new
          | development. Mentor associates in web development methodologies and best
          | practices.
          br
          | Technologies:
          | ASP.NET, MS SQL Server, Javascript, jQuery, HTML, CSS
        p
          b June 2006 - December 2007:
          &nbsp;
          | Software Developer - SAP Labs, LLC
          p
          | Maintained and enhanced Commerce and CRM software package and
          | helped leverage existing code base into a hosted ASP model. Designed and
          | implemented an attribute matrix tool that allowed customers to place bulk
          | orders with various configurations; built an asynchronous XML engine to
          | synchronize data from the core product to SAP Accounting systems. Promoted
          | after seven months.
          br
          | Technologies:
          | C#, .NET 2.0, MS SQL Server, Javascript
        p
          b May 2007 - Present:
          &nbsp;
          | Independent Contracts
        p
          | Developed custom applications and public websites for individuals and small
          | businesses including studio253finishes, portfolio management solution for a
          | painting professional and public website that hooks into data from his portfolio;
          | pussywood custom cat towers, commerce site for a seller of custom-made pet
          | furniture.
          br
          | Technologies:
          | Ruby, Rails, MySQL, Javascript, jQuery, HTML, CSS
        p
          b May 2005 - June 2006:
          &nbsp;
          | Software Developer - Internet Destination Sales Systems
        p
          | Developed a Facility Space Reservation System with dynamic attributes and
          | advanced search functionality. Helped maintain and develop features for a web-
          | based Sales and CRM System.
          br
          | Technologies:
          | C#, ASP.NET 1.1, MS SQL Server, Javascript
